<!-- date, localeDate, title, github, name, content, giscus, image, description -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
/>

<main class="pt-12 sm:pt-24">
  <div class="mx-auto">
    <div
      class="pb-2 px-4 sm:px-2 font-mono text-sm/7 font-medium tracking-widest text-gray-500 uppercase"
    >
      <time datetime="{{date}}">{{localeDate}}</time>
    </div>

    <div class="mb-6 px-4 sm:px-2 border-y border-black/5">
      <h1
        class="text-4xl sm:text-5xl tracking-tight text-pretty text-gray-950 font-medium"
      >
        {{title}}
      </h1>
    </div>

    <div
      class="py-2 px-4 font-medium whitespace-nowrap border-y border-black/5"
    >
      <div class="flex items-center gap-4">
        <img
          alt=""
          loading="lazy"
          width="36"
          height="36"
          decoding="async"
          data-nimg="1"
          class="size-9 rounded-full"
          src="https://github.com/{{github}}.png"
          style="color: transparent"
        />

        <div class="flex flex-col justify-center gap-1 text-xs">
          <div class="text-gray-950">{{name}}</div>

          <a
            href="https://github.com/{{github}}"
            target="_blank"
            rel="noreferrer"
            class="font-semibold text-indigo-500 hover:text-indigo-600"
          >
            @{{github}}
          </a>
        </div>
      </div>
    </div>

    <div class="mt-16 border-y border-black/5">
      <div class="px-4 py-2">
        <article
          class="prose prose-sm prose-code:prose-sm prose-indigo max-w-none prose-img:rounded-2xl prose-pre:p-0 prose-pre:bg-[#f9f9f9] prose-pre:text-[#383a42] prose-a:underline-offset-2"
        >
          {{content}}
        </article>
      </div>
    </div>

    <div class="mt-16">
      <script
        src="https://giscus.app/client.js"
        data-repo="{{repo}}"
        data-repo-id="{{repoId}}"
        data-category="{{category}}"
        data-category-id="{{categoryId}}"
        data-mapping="{{mapping}}"
        data-strict="0"
        data-reactions-enabled="{{reactionsEnabled}}"
        data-emit-metadata="0"
        data-input-position="{{inputPosition}}"
        data-theme="{{theme}}"
        data-lang="{{lang}}"
        crossorigin="anonymous"
        async
      ></script>
    </div>
  </div>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{title}}",
      "description": "{{description}}",
      "image": "{{image}}",
      "author": {
        "@type": "Person",
        "name": "{{name}}",
        "url": "{{github}}"
      },
      "datePublished": "{{date}}"
    }
  </script>
</main>
